.gamecard-wrapper {
  background: rgb(27, 37, 56);
  width: 330px;
  height: 200px;
  border-radius: 8px;
  display: flex;
  margin: 40px;
  transition: 0.3s ease;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgba(17, 24, 39, 1);
}

.gamecard-wrapper:hover {
  transform: translateY(-5px);
  border: 1px solid #444444;
  background: transparent;
  box-shadow: rgb(33 33 39 / 37%) 0px 20px 30px -11px;
}

.gamecard-img-wrapper {
  height: 140px;
  width: 100px;
  background: #fff;
  margin-left: 10px;
  border-radius: 6px;
  background-size: cover;
  background-image: url("https://media.rawg.io/media/crop/600/400/games/26d/26d4437715bee60138dab4a7c8c59c92.jpg");
  background-position: 50% 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.gamecard-non-img-wrapper {
  height: 150px;
}

.gamecard-details-wrapper {
  width: 160px;
  margin-left: 10px;
}

.gamecard-title-wrapper {
  margin-bottom: 15px;
}

.gamecard-title {
  color: #fafafa;
  font-size: 20px;
  font-weight: bold;
}

.gamecard-developer-wrapper p {
  font-size: 13px;
}

.gamecard-developer-static {
  color: #909090;
}

.gamecard-developer {
  color: #fafafa;
  font-weight: 600;
}

.gamecard-rating-wrapper {
  position: absolute;
  background: #fff;
}

.gamecard-rating-outer-wrapper {
  background: green;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.gamecard-rating-inner-wrapper {
  height: 35px;
  width: 35px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232323;
}

.gamecard-rating {
  color: #a0e286;
}
